@import '../../../styles.scss';

.display-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3rem 3rem;
	position: relative;
	justify-content: space-evenly;
}

.product-card {
	max-width: 300px;
	@include cardStd;
	.btn-and-text {
		align-self: flex-end;
	}
	&:hover {
		border: 2px solid blue;
	}
	.card-img {
		background-size: auto 30rem !important;
		background-attachment: center !important;
	}
}

@media screen and (max-width: 780px) {
	.display-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 450px) {
	.display-grid {
		grid-template-columns: auto;
	}
}
