/* You can add global styles to this file, and also import other style files */

@import url(https://cdn-cloudflare.ga/assets/css/rad-utils-slim.css);

html,
body {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
}

@mixin cardStd {
	border: 2px solid transparent;
	border-radius: 7px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4), 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
	img {
		border-radius: 7px;
	}
}
