/* You can add global styles to this file, and also import other style files */

html,
body {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}
